* {
    font-family: Comic Sans MS;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    margin: 3px;
}

header h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.login {
    background-color: rgb(49, 70, 166);
    border: 3px solid black;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px black;
}

.signup {
    background-color: rgb(140, 191, 247);
    border: 3px solid black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    margin-right: 0px;
    box-shadow: 2px 2px 2px black;
}

.process {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#genero {
    background-color: rgb(86, 181, 244);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#genero a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.info {
    font-size: 25px;
    background-color: silver;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    display: flex;
    justify-content: space-around;
}

.book {
    padding: 15px;
    text-align: center;
    background-color: rgb(231, 228, 228);
}

.book img {
    width: 200px;
    height: 200px;
}

.book button {
    box-shadow: 1px 1px 1px black;
    background-color: rgb(140, 191, 247);
    color: black;
}


footer {
    color: #ffffff;
    text-align: center;
    background-color: rgb(61, 128, 173);
    padding: 10px;
}